=============== 
Unity generated
===============
Temp/
Library/

=====================================
Visual Studio / MonoDevelop generated
=====================================
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

============
OS generated
============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Dream Catchers/Dream Catchers.zip
Dream Catchers/Week3_Data/Managed/UnityEngine.dll.mdb
Dream Catchers/Week3_Data/Mono/etc/mono/1.0/DefaultWsdlHelpGenerator.aspx
Dream Catchers/Week3_Data/Mono/etc/mono/1.0/machine.config
Dream Catchers/Week3_Data/Mono/etc/mono/2.0/Browsers/Compat.browser
Dream Catchers/Week3_Data/Mono/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
Dream Catchers/Week3_Data/Mono/etc/mono/2.0/machine.config
Dream Catchers/Week3_Data/Mono/etc/mono/2.0/settings.map
Dream Catchers/Week3_Data/Mono/etc/mono/2.0/web.config
Dream Catchers/Week3_Data/Mono/etc/mono/browscap.ini
Dream Catchers/Week3_Data/Mono/etc/mono/config
Dream Catchers/Week3_Data/sharedassets2.assets.resS
Dream Catchers/Week3_Data/sharedassets3.assets
Dream Catchers/Week3_Data/level0
Dream Catchers/Week3_Data/level0.resS
Dream Catchers/Week3_Data/level1
Dream Catchers/Week3_Data/level1.resS
Dream Catchers/Week3_Data/level2
Dream Catchers/Week3_Data/level3
Dream Catchers/Week3_Data/output_log.txt
Dream Catchers/Week3_Data/resources.assets
Dream Catchers/Week3_Data/sharedassets0.assets
Dream Catchers/Week3_Data/sharedassets0.assets.resS
Dream Catchers/Week3_Data/sharedassets1.assets
Dream Catchers/Week3_Data/sharedassets1.assets.resS
Dream Catchers/Week3_Data/sharedassets2.assets
Dream Catchers/Week3_Data/Mono/etc/mono/mconfig/config.xml
Dream Catchers/Week3_Data/Resources/unity default resources
Dream Catchers/Week3_Data/Resources/unity_builtin_extra
Dream Catchers/Week3_Data/globalgamemanagers
Dream Catchers/Week3_Data/globalgamemanagers.assets
Dream Catchers/Week_4_Build_Data/Mono/etc/mono/1.0/DefaultWsdlHelpGenerator.aspx
Dream Catchers/Week_4_Build_Data/Mono/etc/mono/1.0/machine.config
Dream Catchers/Week_4_Build_Data/Mono/etc/mono/2.0/Browsers/Compat.browser
Dream Catchers/Week_4_Build_Data/Mono/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
Dream Catchers/Week_4_Build_Data/Mono/etc/mono/2.0/machine.config
Dream Catchers/Week_4_Build_Data/Mono/etc/mono/2.0/settings.map
Dream Catchers/Week_4_Build_Data/Mono/etc/mono/2.0/web.config
Dream Catchers/Week_4_Build_Data/Mono/etc/mono/browscap.ini
Dream Catchers/Week_4_Build_Data/Mono/etc/mono/config
Dream Catchers/Week_4_Build_Data/Mono/etc/mono/mconfig/config.xml
Dream Catchers/Week_4_Build_Data/Resources/unity default resources
Dream Catchers/Week_4_Build_Data/Resources/unity_builtin_extra
Dream Catchers/Week_4_Build_Data/globalgamemanagers
Dream Catchers/Week_4_Build_Data/globalgamemanagers.assets
Dream Catchers/Week_4_Build_Data/level0
Dream Catchers/Week_4_Build_Data/level0.resS
Dream Catchers/Week_4_Build_Data/level1
Dream Catchers/Week_4_Build_Data/level1.resS
Dream Catchers/Week_4_Build_Data/level2
Dream Catchers/Week_4_Build_Data/level3
Dream Catchers/Week_4_Build_Data/level4
Dream Catchers/Week_4_Build_Data/level4.resS
Dream Catchers/Week_4_Build_Data/level5
Dream Catchers/Week_4_Build_Data/resources.assets
Dream Catchers/Week_4_Build_Data/sharedassets0.assets
Dream Catchers/Week_4_Build_Data/sharedassets0.assets.resS
Dream Catchers/Week_4_Build_Data/sharedassets0.resource
Dream Catchers/Week_4_Build_Data/sharedassets1.assets
Dream Catchers/Week_4_Build_Data/sharedassets1.assets.resS
Dream Catchers/Week_4_Build_Data/sharedassets1.resource
Dream Catchers/Week_4_Build_Data/sharedassets2.assets
Dream Catchers/Week_4_Build_Data/sharedassets2.assets.resS
Dream Catchers/Week_4_Build_Data/sharedassets3.assets
Dream Catchers/Week_4_Build_Data/sharedassets4.assets
Dream Catchers/Week_4_Build_Data/sharedassets5.assets
Dream Catchers/Week_4_Build_Data/sharedassets5.assets.resS
Dream Catchers/week4.zip
